@model MoldovaHotelsCore.GlobalWebSite.Models.Booking

@{
    ViewData["Title"] = "Made";
}

<div class="text-center">
    <h1 id="congrats">Booking successfully completed!</h1>
    <p class="booking-number">
        Your booking confirmation number is: <strong>@Model.BookingId</strong>
    </p>
</div>